fastapi
uvicorn
motor
pymongo
python-multipart
python-doctr[torch]
opencv-python
pandas
scikit-learn
pyjwt
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
requests
email-validator
Pillow
openai
